@using Microsoft.Ajax.Utilities
@model prjIAAI.Models.Member

@{
    ViewBag.Title = "Details";
}

<h2>詳細資料</h2>

<div>
    <h4>系統管理者</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @{
                if (Model.Photo.IsNullOrWhiteSpace())
                {
                    <img src="~/images/defaultPhoto.png" />
                }
                else
                {
                    <img src="~/FileUploads/mini@(Model.Photo)">
                }
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>
        
        <dt>
            角色
        </dt>
        
        <dd>
            @* 取與Member關聯的Roles，再取出GroupName放入<td>中 *@
            @{
                string groupName = "";
                foreach (var role in Model.Roles)
                {
                    groupName += role.GroupName + "、";
                }
            }
            @groupName.TrimEnd('、')
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("編輯", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("回到列表", "Index")
</p>
