@using System.Activities.Statements
@using WebGrease
@model IEnumerable<prjIAAI.Models.Member>

@{
    ViewBag.Title = "Index";
}

    <h2>系統管理者帳號管理</h2>

<p>
    @Html.ActionLink("新增管理者帳號", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Account)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobTitle)
        </th>
        <th>
            角色
        </th>
        <th>
            功能
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Account)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            @* 取與Member關聯的Roles，再取出GroupName放入<td>中 *@
            @{
                string groupName = "";
                foreach (var role in item.Roles)
                {
                    groupName += role.GroupName+"、";
                }
            }
            <td>
                @groupName.TrimEnd('、')
            </td>
            <td>
                @Html.ActionLink("編輯", "Edit", new { id = item.Id }) |
                @Html.ActionLink("詳細資料", "Details", new { id = item.Id }) |
                @Html.ActionLink("刪除", "DeleteOK", new { id = item.Id },new{onclick= "return Confirm_Form()" })
            </td>
        </tr>
    }

</table>
