@model IEnumerable<prjIAAI.Models.News>

@{
    ViewBag.Title = "Index";
}

<h2>最新消息管理</h2>

<p>
    @Html.ActionLink("新增最新消息", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sticky)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Highlight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clicks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Poster)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InitDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Updater)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sticky)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Highlight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clicks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Poster)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InitDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Updater)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
