@model prjIAAI.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Account)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PasswordSalt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PasswordSalt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CellPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CellPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Membership)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Membership)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentJob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentJob)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentJobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentJobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HighestEducation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HighestEducation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceUnits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceUnits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceJobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceJobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeniorityYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeniorityYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeniorityMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeniorityMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Verify)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Verify)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
